body { padding-top: 30px; }

h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
    line-height: 1.1;
}

h2.header {
    font-size: 30px;
    margin-bottom: 25px;
    margin-top: 20px;
}

table {
    table-layout: fixed;
    border-color: #E0E0E0;
    width: 100%;
}

tr {
    border-bottom-color: #E0E0E0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

td {
    font-size: large;
    font-weight: bold;
}




.warning {
    background-color: #FCF8E3;
    //border-color: #FBEED5;
}

.danger {
    background-color: #F2DEDE;
    //border-color: #EED3D7;
}



#addUpdate {
    float: right;
}
